
<%-include("../layout/admin/header")-%>
<%-include("../partials/adminnav")-%>
<style>
    .list-group-item{
        border:2px soid rgb(10, 10, 10) !important;
       
       }
       .ok{
        background-color: grey;
        
       }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            
            <a href="/admin/addbrand"  id="exampleModal" class="btn btn-primary p-2 m-3 float-end">Add Brand</a>
        </div>
    </div>
</div>
<div class="container">
   
    <div class="row">
       
        <div class="col-md-12">
            

              <table class="table" id="example">
                <thead>
                  <tr>
                    <th scope="col">NO</th>
                    <th scope="col">BRAND</th>
                    <th scope="col">EDIT</th>
                    <th scope="col">DELETE</th>
                   
                  </tr>
                </thead>
                <tbody>
                    <% brand.forEach((el,index)=> { %>
                  <tr>
                   
                    
                   
                    <td><%-index+1-%></td>
                    <td><%-el.brandname-%></td>
                    <td><a href="/admin/editbrand/<%-el._id-%>"><i class="fa-solid fa-pen-to-square" style="color:blue; padding:10px"></i></a></td>
                    <td><a><i class="fa-solid fa-trash" style="color: red; " onclick="removebrand('<%-el._id-%>','<%-el.brandname-%>')"></i></a></td>
                  </tr> 
                  
                  <% }) %>
                </tbody>
              </table>
              <% if (locals.err) { %>
                <p class=" text-light" style="color: red;"><%-err-%></p>
            <% } %>
        </div>
    </div>
</div>





</div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
        let table = new DataTable('#example');
      });
</script>

<%-include("../layout/admin/footer")-%>