<%-include("../layout/user/header")-%>
<%-include("../partials/usernav")-%> 
<style>
  @import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

/* body {
    background-color:white;
    font-family: 'Calibri', sans-serif !important;
} */

.mt-100{
   margin-top:100px;

}


.card {
    margin-bottom: 30px;
    border: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    letter-spacing: .5px;
    border-radius: 8px;
    -webkit-box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
    box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
}

.card .card-header {
    background-color: #fff;
    border-bottom: none;
    padding: 24px;
    border-bottom: 1px solid #f6f7fb;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}



.card .card-body {
    padding: 30px;
    background-color: transparent;
}

.btn-primary, .btn-primary.disabled, .btn-primary:disabled {
    background-color: #4466f2!important;
    border-color: #4466f2!important;
}
</style>
<form action="/placeOrder">
  <% if (products.length==0) { %>
     <!-- start -->
     <div class="container-fluid  mt-100">
      <div class="row">
      
       <div class="col-md-12">
       
           <div class="card">
         
         <div class="card-body cart">
             <div class="col-sm-12 empty-cart-cls text-center">
               <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3" style="filter: grayscale(1);">
               <h3><strong><small>Your Cart is Empty</small></strong></h3>
               <h4><small>Add something to make me happy</small></h4>
               <a href="/userhome" class="btn btn-primary cart-btn-transform m-3" data-abc="true"><small>continue shopping</small></a>
               
             
             </div>
         </div>
     </div>
         
       
       </div>
      
      </div>
     
     </div>
      <!-- end  -->
  <% } else { %>
  
        <div class="container">
          <div class="row">

          
            <div class="col-md-8">
              <div class="card shadow  mt-5" style="border:none">

                <div class="m-4">
                  <h4 class="card-title mb-4">Your shopping cart</h4><br>
               
                      
                         
                       
                        <div class="row d-flex gy-3 mb-4">
                          <% products.forEach(el=> { %>
                          <div class="col-lg-5">
                            <div class="me-lg-5">
                              <div class="d-flex">

                                <img src="/product-images/<%-el.product.images[0]-%>"
                                  alt="" class="border rounded me-3"
                                  style="width: 80px; height: 96px" />


                                <div class="">
                                  <a href="#" class="nav-link"
                                    style="text-decoration: none; color: #000000; font-weight: 500;">
                                   <p style="font-size: 12px; font-weight:600 ;"><%-el.product.ProductName -%> </p>   
                                      <br>

                                      <div class="text-primary"><b> ₹ <%-el.product.DiscountAmount -%> </b>
                                      </div>
                                  </a>
                                </div>
                              </div>

                            </div>


                          </div>
                           <div class="col-lg col-sm-3">
                            <% if (el.quantity>1) { %>
                             <button class="btn btn-light border px-2 icon-hover-primary" type="button"style="background-color:white;  border:none;"
                              onclick="quantityChanger(' <%-el.productid -%> ',-1,'<%-el.quantity -%>','<%-el._id-%>')"><i
                                class="fa-solid fa-minus" style="color: #000000;"></i></button>
                                <% }else{ %>
                                  <button disabled class="btn btn-light border px-2 icon-hover-primary" type="button"style="background-color: white; border:1px solid white;"
                                  onclick="quantityChanger(' <%-el.productid -%> ',-1,'<%-el.quantity -%>','<%-el._id-%>')"><i
                                    class="fa-solid fa-minus" style="color:white;"></i></button>
                                  
                                  <% }%>
                            <span id="quantity_" class="p-3">
                              <%-el.quantity -%> 
                            </span>
                            <button id="" style="background-color: white; border:none;"
                              class="btn btn-light border px-2 icon-hover-primary" type="button"
                              onclick="quantityChanger('<%-el.productid -%> ',1,'<%-el.quantity -%>','<%-el._id-%>')"><i
                                class="fa-solid fa-plus" style="color: #000000;"></i></button>
                              </div>

                         
                        

                          <div
                            class="col-lg col-sm-3 d-flex justify-content-sm-center justify-content-md-start justify-content-lg-center justify-content-xl-end mb-2">
                            <div class="float-md-end">
                              <strong class="card-text text-center text-danger out-of-stock-message" id=""
                                style="display: none;"> </strong>

                            
                                
                               
                                  <a onclick="addToWishlist('')" class="btn btn1"> <i
                                      class="fa fa-heart" style="color: grey;"></i>
                                  </a>
                                 
                                  <i class="fa-solid fa-trash" style="color:grey; " onclick="removecart('<%-el._id-%>','<%-el.productid-%>')"></i>
                            </div>
                          </div>
                          <% }) %>
                        </div>
                      
                         
                           
                       <hr style="height: 0.5px;">     
                            
                </div>
<!-- 
                <div class="border-top pt-4 mx-4 mb-4">
                  <p>
                    <i class="fas fa-truck text-muted fa-lg"></i> Free Delivery
                    with in 1 week
                  </p>
                  <p class="text-muted"></p>

                </div>   -->
              </div>
            </div> 
         
              <div class="col-md-4">

                <div class="card shadow mt-5" style="border:none ">
                  <div class="card-body">
                    <div id="subtotal" class="d-flex justify-content-between mt-3">
                      <p class="mb-2"><b>Totel amount :</b></p>
                      <b>
                        <p>₹ <%-totelprice-%> <span id="subtotalAmount">
                            
                          </span></p>
                      </b>
                    </div>
                    <div id="Discount" class="d-flex justify-content-between mt-3">
                      <p class="mb-2"><b>discount :</b></p>
                      <b>
                        <p style="color: red;">₹ <%-toteldiscount-%> <span id="subtotalAmount">
                            
                          </span></p>
                      </b>
                    </div>

                    <div id="totalQuantity" class="d-flex justify-content-between">
                      <p class="mb-2"><b>Total Quantity :</b></p>
                      <b>
                        <p><span id="totalQuantityValue">
                           <%-totelqty-%>
                          </span></p>
                      </b>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between">
                      <p class="mb-2"><b>Total price :</b></p>
                      <b>
                        <h7 class="mb-2" style="color: rgb(47, 129, 207);"><span id="totalPrice">
                         <b>₹ <%-subtotel-%></b> 
                          </span></h7>
                      </b>
                    </div>

                    <div class="mt-3">
                      <button type="submit"  class="btn  w-100 shadow-0 mb-2" style="background-color:blue; font-weight:600;color: white;">
                       <small>Place Order</small> 
                      </button>
                      <a href="/userhome/products" class="btn  w-100  mt-2" style="background-color:grey;color: white; border:2px solid grey; font-weight:600;">
                       <small>Back to shop</small> 
                      </a>
                    </div>
                  </div>
                </div>
              </div>
          </div>

        
        </div>

        </div>
        <% } %>
       
  </form>
  


  
<!-- footer start ------------ -->
<%-include("../partials/footernav")-%>
<!-- footer end ------------ -->

 
<%-include("../layout/user/footer")-%>