
<%-include("../layout/user/header")-%>
<%-include("../partials/usernav")-%> 
<style>

  body{
 
 background-color: rgb(255, 255, 255);

  } 

</style>

<!-- carosal------------------------------------------------------------------------------------ -->
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
   
     
   
    <div class="carousel-inner">
      <% banner.forEach((el,index) => { %>
      <div class="carousel-item <%- index==0?'active':'' -%>">
        <img src="/banner-images/<%-el.bannerImage-%>" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
         <h5 class="btn "  style="border-radius: 60px; width: 100px;background-color: blue;"><a href="" style="text-decoration: none; color: white;">VIEW</a></h5>
          <p><%-el.description-%></p>
        </div>
      </div>
      <% }) %>
     
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- carosal end  -->

 <!-- brand separation-------------------------------------------------- -->

 
 <div class="container mt-5">
  <div class="row">
    <h2 style="padding: 10px ; width: 100%; background-color: rgb(255, 255, 255); color: black;">Brands</h2>

   
    <div class="col-6 col-md-3 col-sm-6 d-flex justify-content-center justify-content-md-start "><div class="card mt-2" style="width: 17rem; border:none !important;">
      <a href="/login" style="text-decoration: none; color: black;">
      <img src="/s20.webp" class="card-img-top " alt="..." style="height: 150px;">
      <div class="card-body" style="border: none !important;">
        <p class="card-text">SAMSUNG</p>
      </div>
    </a>
    </div></div>
  </a>

    <div class="col-6 col-md-3 col-sm-6 d-flex justify-content-center justify-content-md-start "><div class="card mt-2" style="width: 17rem; border:none !important;">
      <a href="/login" style="text-decoration: none; color: black;">
      <img src="/mi.webp" class="card-img-top shadow-sm" alt="..." style="height: 150px;">
      <div class="card-body" style="border: none !important;">
        <p class="card-text">REDMI</p>
      </div>
    </div></div></a>

    <div class="col-6 col-md-3 col-sm-6 d-flex justify-content-center justify-content-md-start "><div class="card mt-2" style="width: 17rem; border:none !important;">
      <a href="/login" style="text-decoration: none; color: black;">
      <img src="/apple.jpg" class="card-img-top shadow-sm" alt="..." style="height: 150px;">
      <div class="card-body" style="border:none !important;">
        <p class="card-text">APPLE</p>
      </div>
    </div></div></a>

    <div class="col-6 col-md-3 col-sm-6 d-flex justify-content-center justify-content-md-start"><div class="card mt-2 shadow-lg" style="width: 17rem; border:none !important;">
      <a href="/login" style="text-decoration: none; color: black;">
      <img src="/oppos.jpg" class="card-img-top shadow-sm" alt="..."  style="height: 150px;">
      <div class="card-body" style="border:none !important;">
        <p class="card-text">OPPO</p>
      </div>
    </div></div></a>

  </div>
</div>

  <!-- catogaries ----------------------------------------------------->
  

<div class="container mt-5">
  <div class="row">
    <h2 style="padding: 10px ; width: 100%; background-color: rgb(255, 255, 255);">Flagship Mobiles</h2>
    <% product.forEach(el => { %>
      <div class="col-lg-3 col-md-4 col-sm-6 d-flex">
        <div class="card w-100 my-1 shadow d-flex align-items-center" style="border: none; ">
          
          <a href="/userhome/products/productdetails/<%-el._id-%>">
          <img src="/product-images/<%-el.images[0]-%>" class="card-img-top p-2" style=" max-width: 100%;
          max-height: 200px;
           "/>
           
        </a>
       
          <div class="card-body d-flex flex-column">
            <div class="d-flex flex-row">
              <% if (el.AvailableQuantity==0) { %>
                <h7 style="font-weight: 500; color: red;">Out of stock</h7>
              <% }else{ %>
                <h7 class="mb-1 me-1"><b>₹<%-el.DiscountAmount-%>\-</b></h7>
                <% if (el.Categoryoffer>0) { %>
                    <% 
                      // Assuming originalAmount and discountedAmount are available in your EJS context
                      const originalAmount = el.DiscountAmount; // Replace with your actual original amount
                      const discountedAmount = el.Categoryoffer; // Replace with your actual discounted amount

                      // Calculating the discount percentage
                      const discountPercentage =Math.floor( (discountedAmount/ originalAmount) * 100);
                    %>
                     <span class="badge rounded-pill  text-white d-flex align-items-center justify-content-center" style=" 
                     width: 60px;
                     background-color: #38c7ae;
                     position: absolute;
                     top: 10px;
                     left: 9px;
                     border-radius: 3px !important;"> Offer!!</span>
                  
                <% }else{ %>
                <span class="text-danger"><s><small>₹ <%-el.Price-%></small></s></span>
                <%}%>
                <%}%>

             
            </div>
            <p class="card-text"> <small><%-el.ProductName-%></small></p>
            <div class="card-footer d-flex align-items-end pt-0 px-0 pb-0 mt-auto" style="background-color: white;">

              <% if (el.AvailableQuantity<=0) { %>
                <a href="#!" class="btn  shadow-0 me-1 disabled" style="background-color: blue !important; color: white;" onclick="addTocart('<%-el._id-%>')"><small>Add to cart</small></a>
                
              <% }else{ %>
                <a href="#!" class="btn shadow-0 me-1 btnn " style="background-color:blue !important;  color: white; border-redius:0px !important; " onclick="addTocart('<%-el._id-%>')"><small>Add to cart</small></a>
                
                <%}%>
              
              <a  onclick="addTowishlist('<%-el._id-%>')" class="btn px-2 pt-2 btnn " style="background-color:white;  color: black; border-redius:0px !important;"><small><i id="hurt" class="fas fa-heart fa-lg text-secondary px-1"></i></small></a>
              <!-- <a href="#!" class="btn btn-primary shadow-0 me-1">view </a> -->
            </div>
          </div>
        </div>
        
      </div>
      <% }) %>
    
  </div>
</div>
  <!-- end  -->


<!-- footer start ------------ -->
<%-include("../partials/footernav")-%>
<!-- footer end ------------ -->

 
<%-include("../layout/user/footer")-%>