<%- include("../layout/user/header") -%>
<%- include("../partials/usernav") -%>
<style>
            body {
                color: #000;
                overflow-x: hidden;
                height: 100%;
                /* background-color: #8C9EFF; */
                background-repeat: no-repeat;
            }

            .card {
                z-index: 0;
                background-color:white;
                padding-bottom: 20px;
                margin-top: 90px;
                margin-bottom: 90px;
                border-radius: 10px;
            }

            .top {
                padding-top: 40px;
                padding-left: 13% !important;
                padding-right: 13% !important;
            }

            /*Icon progressbar*/
            #progressbar {
                margin-bottom: 30px;
                overflow: hidden;
                color: #455A64;
                padding-left: 0px;
                margin-top: 30px;
            }

            #progressbar li {
                list-style-type: none;
                font-size: 13px;
                width: 25%;
                float: left;
                position: relative;
                font-weight: 400;
            }

            #progressbar .step0:before {
                font-family: FontAwesome;
                content: "\f10c";
                color: #fff;
            }

            #progressbar li:before {
                width: 40px;
                height: 40px;
                line-height: 45px;
                display: block;
                font-size: 20px;
                background: #C5CAE9;
                border-radius: 50%;
                margin: auto;
                padding: 0px;
            }

            /*ProgressBar connectors*/
            #progressbar li:after {
                content: '';
                width: 100%;
                height: 12px;
                background: #C5CAE9;
                position: absolute;
                left: 0;
                top: 16px;
                z-index: -1;
            }

            #progressbar li:last-child:after {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                position: absolute;
                left: -50%;
            }

            #progressbar li:nth-child(2):after,
            #progressbar li:nth-child(3):after {
                left: -50%;
            }

            #progressbar li:first-child:after {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                position: absolute;
                left: 50%;
            }

            #progressbar li:last-child:after {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            #progressbar li:first-child:after {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }

            /*Color number of the step and the connector before it*/
            #progressbar li.active:before,
            #progressbar li.active:after {
                /* background: #651FFF; */
                background: black;
            }

            #progressbar li.active:before {
                font-family: FontAwesome;
                content: "\f00c";
            }

            .icon {
                width: 60px;
                height: 60px;
                margin-right: 15px;
            }

            .icon-content {
                padding-bottom: 20px;
            }

            @media screen and (max-width: 992px) {
                .icon-content {
                    width: 50%;
                }
            }
</style>

<div class="container rounded  position-relative" style="background-color: white !important;">
  <div class="row">
    <div class="col-md-12 offset ">
      <div class="container py-5 h-100 ">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="">
            <div class="card  rounded-0 shadow-lg" style="background-color: white;">
              <div class="card-header px-4 py-4" style="background-color:black; color: white;">
                <h5 class=" mb-0">Thanks for your Order!</h5>
              </div>

              <div class="card-body rounded-0">
                <!-- Order details and items -->
                <div class="card mb-4 px-2" style="border: none !important; box-shadow: none !important;">
                  <div class="card-body p-5" >
                    <% if (orderData && orderData[0].products && Array.isArray(orderData[0].products)) { %>
                      <% orderData[0].products.forEach((x) => { %>
                        <div class="row">
                          <div class="col-md-2 mb-4">
                            <img src="/product-images/<%= x.productid.images[0] %>" class="img-fluid" alt="Phone">
                          </div>
                          <div class="col-md-6 text-center d-flex justify-content-center align-items-center">
                            <p class="text-muted mb-0"><%= x.productid.ProductName %></p>
                          </div>
                          <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                            <p class="text-muted mb-0 small">Qty: <%= x.quantity %></p>
                          </div>
                          <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                            <p class="text-muted mb-0 small">$<%= x.productid.DiscountAmount %></p>
                          </div>
                          <% if (x.status == "Return") { %>
                            <h5 style="color: brown;">item returned</h5>
                          <% } else if (orderData[0].Status == "Delivered") { %>
                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                              <button class="btn small btn-danger"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                                id="returnOrderBtn" data-item-id="<%= x._id %> " data-order-id="<%=orderData[0]._id%>">
                                Return
                              </button>
                            </div>
                          <% } else if (x.status == "Cancelled") { %>
                            <h5 style="color: brown;">item Cancelled</h5>
                          <% } else if (orderData[0].Status !== "Cancelled") { %>
                            <!-- <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                              <button class="btn small btn-dark mb-3" style="--bs-btn-font-size: .75rem;"
                                id="cancelOrderBtn" data-item-id="<%= x._id %> " data-order-id="<%=orderData[0]._id%>">
                                Cancel item
                              </button>
                            </div> -->
                          </div>
                          <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                        <% } %>
                      <% }) %>
                    <% } else { %>
                      <h3>No data available</h3>
                    <% } %>
                  </div>
                </div>
               <div class="container">
                <div class="row">
                  <!-- Address, Name, Email, and Payment Method -->
                  <div class="col-md-6 ">
                    
                    <div class="d-flex flex-column mt-3 p-4 ">
                      <p class=" mb-0"><b>Order ID: <%= orderData[0]._id %></b></p>
                      <p class=" mb-0">
                        <b>Order Status:
                          <% if(orderData[0].orderStatus === "Cancelled") { %>
                            <span class="text-danger"><%= orderData[0].orderStatus %></span>
                          <% } else { %>
                            <span><%= orderData[0].orderStatus %></span>
                          <% } %>
                        </b>
                      </p>
                      <!-- Adjust the date formatting based on your data structure -->
                      <% let orderDate=new Date(orderData[0].orderDate) %>
                      <p class="card-text"><b>Ordered Date and Time: </b><%= orderDate.toLocaleDateString() || 'N/A' %></p>
                      <% if (orderData[0].orderStatus=="Delivered") { %>
                        <p class="card-text"><b>Delivered Date and Time:</b> <%= orderData[0].deliveryDate || 'N/A' %></p>
                      <% }else{ %>
                        <p class="card-text"><b>Expected Delivered Date and Time:</b> <%= orderData[0].expectedDeliveryDate || 'N/A' %></p>
                        <%}%>
                      
                    </div>


                    
                  </div>

                  <!-- Order IDs and Dates -->
                  <div class="col-md-6 ">
                    <div class="d-flex flex-column mt-3 p-4 ">
                      <p class="mb-0"><strong>Name: </strong><%= user %></p>
                      <p class="mb-0"><strong>Email:</strong> <%= email %></p>
                      <p class="mb-0"><strong>Payment Method:</strong> <%= orderData[0].paymentMethod %></p>
                      <p class="mt-2 ">
                        <span class="">
                          <b>Address</b> : <%=orderData[0].address.address%>,
                          <%=orderData[0].address.locality%>,<br>
                          <%=orderData[0].address.city%>,<%=orderData[0].address.district%>,
                          <%=orderData[0].address.state%>,<br>
                          <%=orderData[0].address.pincode%>
                        </span>
                      </p>
                    </div>
                  </div>
                  <% if (orderData[0].orderStatus!=="Cancelled") { %>
                   
                  
                  <!-- tracking -->
                  <div class="col-md-12">
                      <div class="container ">
                        <div class="row d-flex justify-content-center align-items-center">
                          <div class="col-12">
                            <div class="card card-stepper text-black " style="box-shadow: none !important; border:none !important">
                    
                              <div class="card-body p-5">
                  
                    
                                <ul id="progressbar" class="d-flex justify-content-between mx-0 mt-0 mb-5 px-0 pt-0 pb-2">
                                  <% if (orderData[0].orderStatus=="Order Processing") { %>
                                    <li class="step0 active  text-center" id="step1"></li>
                                  <li class="step0  text-center" id="step2"></li>
                                  <li class="step0  text-center" id="step3"></li>
                                  <li class="step0  text-muted text-end" id="step4"></li>
                                  <% }else if(orderData[0].orderStatus=="Order Placed"){ %>
                                    <li class="step0 active  text-center" id="step1"></li>
                                    <li class="step0  active text-center" id="step2"></li>
                                    <li class="step0  text-center" id="step3"></li>
                                    <li class="step0  text-muted text-end" id="step4"></li>

                                  <%}else if(orderData[0].orderStatus=="Shipped"){%>
                                    <li class="step0 active  text-center" id="step1"></li>
                                    <li class="step0  active text-center" id="step2"></li>
                                    <li class="step0  active text-center" id="step3"></li>
                                    <li class="step0  text-end" id="step4"></li>

                                    <%}else if(orderData[0].orderStatus=="Delivered"){%>
                                      <li class="step0 active  text-center" id="step1"></li>
                                      <li class="step0  active text-center" id="step2"></li>
                                      <li class="step0  active text-center" id="step3"></li>
                                      <li class="step0   active text-end" id="step4"></li>
                                      
                                   <%}%>
                                 
                                </ul>
                    
                                <div class="d-flex justify-content-between ">
                                  <div class="d-lg-flex align-items-center">
                                    <i class="fas fa-clipboard-list fa-3x me-lg-4 mb-3 mb-lg-0" style="font-size: 35px;"></i>
                                    <div>
                                      <p class="fw-bold mb-1">Order</p>
                                      <p class="fw-bold mb-0">Processing</p>
                                    </div>
                                  </div>
                                  <div class="d-lg-flex align-items-center">
                                    <i class="fas fa-box-open fa-3x me-lg-4 mb-3 mb-lg-0" style="font-size: 35px;"></i>
                                    <div>
                                      <p class="fw-bold mb-1">Order</p>
                                      <p class="fw-bold mb-0">Placed</p>
                                    </div>
                                  </div>
                                  <div class="d-lg-flex align-items-center">
                                    <i class="fas fa-shipping-fast fa-3x me-lg-4 mb-3 mb-lg-0" style="font-size: 35px;"></i>
                                    <div>
                                      <p class="fw-bold mb-1">Order</p>
                                      <p class="fw-bold mb-0">shipped</p>
                                    </div>
                                  </div>
                                  <div class="d-lg-flex align-items-center">
                                    <i class="fas fa-home fa-3x me-lg-4 mb-3 mb-lg-0" style="font-size: 35px;"></i>
                                    <div>
                                      <p class="fw-bold mb-1">Order</p>
                                      <p class="fw-bold mb-0">Delivered</p>
                                    </div>
                                  </div>
                                </div>
                    
                              </div>
                    
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <!-- end -->
                  <% } %>
                </div>
              </div>
            </div>

            <!-- order status  -->
            
            <!-- end  -->

              <div class="card-footer border-0 rounded-0 p-3" style="background-color:white; color: black;">
                <!-- ... Your existing code for Cancel Order button and Total Price ... -->
                 <!-- Display Cancel Order button based on conditions -->
                 <% if (orderData[0].orderStatus!="Cancelled"&&orderData[0].orderStatus!="Delivered"&&orderData[0].orderStatus!="Requested") { %>
                  <button class="btn btn-danger float-left" id="cancelOrder"onclick="cancelOrder('<%-orderData[0]._id-%>','Cancelled')" data-item-id=""
                      data-order-id="">Cancel Order</button>
                <% } %>
                <% if (orderData[0].orderStatus=="Delivered") { %>
                  <button class="btn btn-dark w-100 mt-2"  data-bs-toggle="modal" class="btn" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap"><small>Return</small></button>
                <% } %>
                

                <!-- Display total price -->
                <h5 class="d-flex align-items-center justify-content-end  text-uppercase mb-0">Total
                  <span class="h2 mb-0 ms-2 float-right"> ₹ <%=orderData[0].totalAmount%></span>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- ... Your existing code for Return Order Modal and External script and library links ... -->


      <!-- Return Order Modal -->
      
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"><small>Return Order</small></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="returnForm">
                        <div class="mb-3">
                            <label for="return-reason" class="col-form-label"><small>Reason:</small></label>
                            <input type="text" class="form-control" id="return-reason" name="returnReason" required pattern="^\S.*$" title="Cannot start with space" required>
                            <div class="invalid-feedback">
                                Please provide a valid reason.
                            </div>
                        </div>
                        <input type="hidden" name="orderid" value="<%-orderData[0]._id-%>">
                        <div class="mb-3">
                            <label for="return-description" class="col-form-label"><small>Description:</small></label>
                            <textarea class="form-control" id="return-description" name="description" required pattern="^\S.*$" title="Cannot start with space"  required></textarea>
                            <div class="invalid-feedback">
                                Please provide a valid description.
                            </div>
                        </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><small>Close</small></button>
                    <button type="button" class="btn btn-dark" id="send-return-btn" onclick="returnorder(event)" disabled><small>Return Order</small></button>
                </div>
              </form>
            </div>
        </div>
    </div>
    
    <script>
        document.getElementById('return-reason').addEventListener('input', toggleButtonState);
        document.getElementById('return-description').addEventListener('input', toggleButtonState);
    
        function toggleButtonState() {
            var reasonInput = document.getElementById('return-reason');
            var descriptionInput = document.getElementById('return-description');
            var submitButton = document.getElementById('send-return-btn');
    
            var isReasonValid = reasonInput.validity.valid && reasonInput.value.trim() !== '';
            var isDescriptionValid = descriptionInput.validity.valid && descriptionInput.value.trim() !== '';
    
            submitButton.disabled = !(isReasonValid && isDescriptionValid);
    
            // Show/hide error messages
            showHideError(reasonInput, isReasonValid);
            showHideError(descriptionInput, isDescriptionValid);
        }
    
        function showHideError(inputElement, isValid) {
            var errorDiv = inputElement.parentElement.querySelector('.invalid-feedback');
            if (!isValid) {
                errorDiv.style.display = 'block';
            } else {
                errorDiv.style.display = 'none';
            }
        }
    </script>
    
    
    
    
    

<!-- External script and library links -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
  // Your custom JavaScript code here
</script>
</body>

</html>
