
<%-include("../layout/user/header")-%>
<%-include("../partials/usernav")-%>


  <style>
    body{
      background-color: white;
    }
 
  </style>
  <!-- sidebar + content -->
  <section class=" mt-5">
    <div class="container-fluid p-2">
      <div class="row">
        <!-- sidebar -->
        <div class="col-lg-3">
          <!-- Toggle button -->
          <form action="\filter" method="post" id="filterForm">
          <button
                  class="btn btn-outline-secondary mb-3 w-100 d-lg-none"
                  type="button"
                  data-mdb-toggle="collapse"
                  data-mdb-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                  >
            <span>Show filter</span>
          </button>
          <!-- Collapsible wrapper -->
          <div class="collapse card d-lg-block mb-5" id="navbarSupportedContent">
            <div class="accordion" id="accordionPanelsStayOpenExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button
                          class="accordion-button text-dark bg-light"
                          type="button"
                          data-mdb-toggle="collapse"
                          data-mdb-target="#panelsStayOpen-collapseTwo"
                          aria-expanded="true"
                          aria-controls="panelsStayOpen-collapseTwo"
                          >
                    Brands
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
                  <div class="accordion-body">
                    <div>
                      <!-- Checked checkbox -->
                      <% categories.forEach(ele=> { %>
                       
                      
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="Category" value="<%-ele._id-%>" id="flexCheckChecked1" />
                          <label class="form-check-label" for="flexCheckChecked1"><%-ele._id-%></label>
                          <span class="badge badge-secondary float-end"><%-ele.count-%></span>
                        </div>
                        <% }) %>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 2nd one -------------------------------- -->

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button
                          class="accordion-button text-dark bg-light"
                          type="button"
                          data-mdb-toggle="collapse"
                          data-mdb-target="#panelsStayOpen-collapseTwo"
                          aria-expanded="true"
                          aria-controls="panelsStayOpen-collapseTwo"
                          >
                    Brands
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
                  <div class="accordion-body">
                    <div>
                      <!-- Checked checkbox -->
                      <% brands.forEach(ele=> { %>
                       
                      
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="BrandName" value="<%-ele._id-%>" id="flexCheckChecked1"  />
                        <label class="form-check-label" for="flexCheckChecked1"><%-ele._id-%></label>
                        <span class="badge badge-secondary float-end"><%-ele.count-%></span>
                      </div>
                      <% }) %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button
                          class="accordion-button text-dark bg-light"
                          type="button"
                          data-mdb-toggle="collapse"
                          data-mdb-target="#panelsStayOpen-collapseThree"
                          aria-expanded="false"
                          aria-controls="panelsStayOpen-collapseThree"
                          >
                    Price
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree">
                  <div class="accordion-body">
                    <div class="range">
                      <input type="range" class="form-range" id="priceRange" 
                          min="0" max="500000" oninput="updateMaxPrice()" />
                  </div>
                    <div class="row mb-3">
                     
                      <div class="col-6">
                        
                        <p class="mb-0">
                          Min
                        </p>
                        <div class="form-outline">
                          <input type="number" id="minPrice"  name="min" class="form-control" value="0" readonly />
                          <label class="form-label" for="typeNumber">₹ 0</label>
                        </div>
                      </div>
                      <div class="col-6">
                        <p class="mb-0">
                          Max
                        </p>
                        <div class="form-outline">
                          <input type="number" id="maxPrice" name="max" value="500000" class="form-control" readonly/>
                          <label class="form-label" for="typeNumber" >₹ 5,000,00</label>
                        </div>
                      </div>
                    </div>
                    <button type="submit"  class="btn btn-white w-100 border border-secondary" onclick="filter(event)">apply</button>
                    <!-- form end ---------------------------------------------------------------------- -->
                  </form>
                  </div>
                </div>
              </div>
             
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button
                          class="accordion-button text-dark bg-light"
                          type="button"
                          data-mdb-toggle="collapse"
                          data-mdb-target="#panelsStayOpen-collapseFive"
                          aria-expanded="false"
                          aria-controls="panelsStayOpen-collapseFive"
                          >
                    Ratings
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse show" aria-labelledby="headingThree">
                  <div class="accordion-body">
                    <!-- Default checkbox -->
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked />
                      <label class="form-check-label" for="flexCheckDefault">
                        <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                      </label>
                    </div>
                    <!-- Default checkbox -->
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked />
                      <label class="form-check-label" for="flexCheckDefault">
                        <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-secondary"></i>
                      </label>
                    </div>
                    <!-- Default checkbox -->
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked />
                      <label class="form-check-label" for="flexCheckDefault">
                        <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-secondary"></i>
                        <i class="fas fa-star text-secondary"></i>
                      </label>
                    </div>
                    <!-- Default checkbox -->
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked />
                      <label class="form-check-label" for="flexCheckDefault">
                        <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-secondary"></i><i class="fas fa-star text-secondary"></i>
                        <i class="fas fa-star text-secondary"></i>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- sidebar -->
        <!-- content -->
        <div class="col-lg-9">
          <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
            <strong class="d-block py-2"><span id="count"><%-count-%></span> Items found </strong>
            <div class="ms-auto">
              <select class="form-select d-inline-block w-auto border pt-1">
                <option value="0">Best match</option>
                <option value="1">Recommended</option>
                <option value="2">High rated</option>
                <option value="3">Randomly</option>
              </select>
              <div class="btn-group shadow-0 border">
                <a href="#" class="btn btn-light" title="List view">
                  <i class="fa fa-bars fa-lg"></i>
                </a>
                <a href="#" class="btn btn-light active" title="Grid view">
                  <i class="fa fa-th fa-lg"></i>
                </a>
              </div>
            </div>
          </header>
       
        
      
          <div class="row p-3" id="proview">
            <% products.forEach(el => { %>
            <div class="col-lg-3 col-md-3 col-sm-6 d-flex">
              <div class="card w-100 my-1 shadow d-flex align-items-center" style="border: none; ">
                
                <a href="/userhome/products/productdetails/<%-el._id-%>">
                <img src="/product-images/<%-el.images[0]-%>" class="card-img-top p-2" style=" max-width: 100%;
                max-height: 200px;
                 "/>
                 
              </a>
             
                <div class="card-body d-flex flex-column">
                  <div class="d-flex flex-row">
                    <% if (el.AvailableQuantity==0) { %>
                      <h7 style="font-weight: 500; color: red;">Out of stock</h7>
                    <% }else{ %>
                      <h7 class="mb-1 me-1"><b>₹<%-el.DiscountAmount-%>\-</b></h7>
                      <% if (el.Categoryoffer>0) { %>
                          <% 
                            // Assuming originalAmount and discountedAmount are available in your EJS context
                            const originalAmount = el.DiscountAmount; // Replace with your actual original amount
                            const discountedAmount = el.Categoryoffer; // Replace with your actual discounted amount

                            // Calculating the discount percentage
                            const discountPercentage =Math.floor( (discountedAmount/ originalAmount) * 100);
                          %>
                           <span class="badge rounded-pill  text-white d-flex align-items-center" style="font-weight: 400;width: 60px; background-color:red;"> Offer!!</span>
                        
                      <% }else{ %>
                      <span class="text-danger"><s><small>₹ <%-el.Price-%></small></s></span>
                      <%}%>
                      <%}%>

                   
                  </div>
                  <p class="card-text"> <small><%-el.ProductName-%></small></p>
                  <div class="card-footer d-flex align-items-end pt-0 px-0 pb-0 mt-auto">

                    <% if (el.AvailableQuantity<=0) { %>
                      <a href="#!" class="btn  shadow-0 me-1 disabled" style="background-color: blue !important; color: white;" onclick="addTocart('<%-el._id-%>')"><small>Add to cart</small></a>
                      
                    <% }else{ %>
                      <a href="#!" class="btn shadow-0 me-1 btnn " style="background-color:grey !important;  color: white; border-redius:0px !important; " onclick="addTocart('<%-el._id-%>')"><small>Add to cart</small></a>
                      
                      <%}%>
                    
                    <a  onclick="addTowishlist('<%-el._id-%>')" class="btn px-2 pt-2 btnn " style="background-color:white;  color: black; border-redius:0px !important;"><small><i id="hurt" class="fas fa-heart fa-lg text-secondary px-1"></i></small></a>
                    <!-- <a href="#!" class="btn btn-primary shadow-0 me-1">view </a> -->
                  </div>
                </div>
              </div>
              
            </div>
            <% }) %>
            
            
          <hr class="mt-3" />
  
          <!-- Pagination -->
          <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
            <ul class="pagination">
              <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">5</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
          <!-- Pagination -->
        </div>
      </div>
    </div>            
  </section>
  <!-- sidebar + content -->
  
 
  <script>
    function updateMaxPrice() {
      const priceRange = document.getElementById('priceRange');
      const maxPriceInput = document.getElementById('maxPrice');
    
      maxPriceInput.value = priceRange.value;
      updateLabel(maxPriceInput);
    }
    
    function updateLabel(input) {
      const label = document.querySelector(`[for="${input.id}"]`);
      label.textContent = `₹ ${input.value}`;
    }
    </script>
<!-- footer start ------------ -->
<%-include("../partials/footernav")-%>
<!-- footer end ------------ -->
<%-include("../layout/user/footer")-%>