
<%-include("../layout/user/header")-%>
<%-include("../partials/usernav")-%> 
<div class="cart-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-heading mb-10 p-3">My wishlist</div>
                <div class="table-wishlist shadow " style="padding: 20px !important;" >
                    <table cellpadding="0" cellspacing="0" border="0" width="100%" >
                        <thead>
                            <tr>
                                <th width="45%" class="p-2"><b>Product Name</b></th>
                                <th width="15%" class="p-2"><b>Unit Price</b></th>
                                <th width="15%"class="p-2"><b>Stock Status</b></th>
                                <th width="15%"class="p-2"></th>
                                <th width="10%" class="p-2"></tr>
                            </tr>
                        </thead>
                        <tbody>
                            <% wishlist1.forEach(ele => { %>
                             
                          
                            <tr >

                                <td width="45%">
                                    <div class="display-flex align-center">
                                        <div class="img-product">
                                            <img src="/product-images/<%= ele.productid.images[0] %>" alt="" class="mCS_img_loaded">
                                        </div>
                                        <div class="name-product">
                                          <small><%-ele.productid.ProductName-%></small>  
                                        </div>
                                    </div>
                                </td>
                                <td width="15%" class=""> ₹ <%-ele.productid.DiscountAmount-%></td>
                                <% if (ele.productid.AvailableQuantity>=10) { %>
                                    <td width="15%"><span class="in-stock-box" style="background-color: rgb(6, 185, 0) !important;"><small>In Stock</small></span></td>
                                <% }else if(ele.productid.AvailableQuantity>0){ %>
                                    <td width="15%"><span class="in-stock-box"><small>Only <%-ele.productid.AvailableQuantity-%> left</small></span></td>

                                <%}else{%>
                                    <td width="15%"><span class="in-stock-box">Out of stock</span></td>
                                <%}%>
                               <% if (ele.productid.AvailableQuantity==0) { %>
                                <td width="15%"><button class="round-black-btn small-btn disabled"><small>Add to Cart</small></button></td>
                               <% }else{ %>
                                <td width="15%"><button class="round-black-btn small-btn" onclick="addTocart('<%-ele.productid._id-%>')"><small>Add to Cart</small></button></td>
                                <% } %>
                                
                                
                                <td width="10%" class="text-center"><a onclick="removewishlist('<%-ele.productid._id-%>','<%-wishid-%>')" ><i class="fa-solid fa-xmark"></i></a></td>
                            </tr>
                            <% }) %>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer start ------------ -->
<%-include("../partials/footernav")-%>
<!-- footer end ------------ -->
<%-include("../layout/user/footer")-%>
  <!-- Footer -->